.messageForm {
    font-family: var(--font-paragraph);
    color: var( --text-color-primary-dark);
}

.textControl {
    margin: 1rem 0;
    font-size: 20px;
    line-height: 32px;
    width: 100%;
    display: flex;
    border-bottom: 2px solid var( --text-color-primary-dark);
    padding: 4px 8px;
    gap: 1rem;
}

.textControl label {
    width: 5rem;
}

.textControl input {
    width: 10rem;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    flex: 1 1 10rem;
    background-color: transparent;
}

.messageControl {
    margin: 1rem 0;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 2px solid var( --text-color-primary-dark);
}

.messageControl label {
    font-size: 20px;
    line-height: 32px;
}

.messageControl textarea {
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    line-height: 24px;
    border: none;
    outline: none;
    background-color: transparent;
    resize: none;
}

.statusInfoBox {
    position: relative;
    text-align: center;
    margin: 20px 1rem 1rem 1rem;
    height: 2rem;
    font-size: 1rem;
    line-height: 30px;
    border-radius: 6px;
}

.statusOk {
    border: 1px solid #4a6009;
    color: #4a6009;
}

.statusAlert {
    border: 1px solid #a83a12;
    color: #a83a12;
}

.infoBoxClose {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    line-height: 22px;
}

.statusOk .infoBoxClose {
    background-color: #4a6009;
    border: 1px solid #4a6009;
}

.statusAlert .infoBoxClose {
    background-color: #a83a12;
    border: 1px solid #a83a12;
}

.infoBoxClose:hover {
    transform: scale(1.1);
}

.infoBoxClose:active{
    transform: scale(0.95);
}


.buttonSecondary {
    display: block;
    margin-left: auto;
    height: 40px;
    font-family: var(--font-button);
    font-size: 18px;
    font-weight: 600;
    min-width: 9rem;
    border: 3px solid var(--button-color-primary);
    border-radius: 12px;
    color: white;
    background-color: var(--button-color-primary);
}
  
.buttonSecondary:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
    font-weight: 700;
}

@media (min-width: 576px) {
    .textControl {
        font-size: 24px;
        line-height: 32px;
    }

    .messageControl label {
        font-size: 24px;
        line-height: 32px;
    }

    .messageControl textarea {
        font-size: 18px;
        line-height: 24px;
    }
}